{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks", "prettier", "auto-import"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {},
      {
        "usePrettierrc": true
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-unused-vars": "warn",
    "no-console": "warn"
  }
}
